<div class="container">
  <div class="row mt-3">
    <div class="col">
      <div class="card card-size">
        <h5 class="card-title"> Arithmetic</h5>
        <img src="assets/images/blackboard-2026160.png" class="card-img-top img-responsive img-size ml-2" alt="...">
        <div class="card-body">
          <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
          <a [routerLink]="['/categories/arithmetic']" class="btn btn-primary">Go somewhere</a>
        </div>
      </div>
    </div>
    
    <div class="col">
      <div class="card card-size">
        <h5 class="card-title"> Algebra</h5>
        <img src="assets/images/algebra-same-but-different_3x.png" class="card-img-top img-responsive img-size ml-2" alt="...">
        <div class="card-body">
          <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
          <a [routerLink]="['/categories/alegbra']" class="btn btn-primary">Go somewhere</a>
        </div>
      </div>
    </div>
    
    <div class="col">
      <div class="card card-size" >
        <h5 class="card-title"> Calculus</h5>
        <img src="assets/images/157-1577141_the-calculus-of-news-and-journalism-integral-of.png" class="card-img-top img-responsive img-size ml-2" alt="...">
        <div class="card-body">
          <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
          <a [routerLink]="['/categories/calculus']" class="btn btn-primary">Go somewhere</a>
        </div>
      </div>
    </div>
  </div>
</div>