.footer {
    background-color: #f5f5f5;
    text-align: center;
  } 

.wrapper {
  height: 100%;
  display: flex;
  flex-direction: column;
}

.header,
.footer {
    flex-shrink: 0;
}

.body {
  flex-grow: 1;
}