.bg {
/* The image used */
background: url(./../../assets/images/learning.jpg);

/* Full height */
height: 100%; 

/* Center and scale the image nicely */
background-position: center;
background-repeat: no-repeat;
background-size: cover;
}

.center {
  position: absolute;
  left: 0;
  top: 35%;
  width: 100%;
	text-align: center;
	color: white;
}

.mask {
  position: relative;
  height: 100%;
  background-color: rgba(0,10,20,.6);
}

.btn-outline-white {
	color: white;
    border-color: white;
    &:hover , &:active {
        background-color: black;
    }
}

.mt-4 {
  margin-top: 20px;
}